.footer {
        padding-top: 15px;
        padding-bottom: 15px;
        background-color: var(--footer-bg);
        border-top-style: solid;
        border-top-width: 1px;
        border-top-color: var(--footer-line);
        /* border top */
}

.footer-text {
        /* padding-top: 1.5rem; */
        padding-left: 2rem;
        /* padding-right: 3rem; */
        /* padding-bottom: 3rem; */
        /* margin-top: 1rem; */
        margin-left: 1rem;
        margin-right: 1rem;
        /* margin-bottom: 1rem; */
        background-color: var(--footer-bg);
        /* min-height: inherit; */
        /* border-radius: 1rem; */
        /* color: #000; */
        text-align: center;
        
}

.footer-text i {
        background-color: var(--footer-bg);
}