.footer {
        max-height: 50px;
        padding-top: 15px;
        padding-bottom: 15px;
        background-color: var(--footer-bg);
        border-top-style: solid;
        border-top-width: 2px;
        border-top-color: var(--footer-line);
        /* border top */
}

.footer-text {
        padding-left: 2rem;
        margin-left: 1rem;
        margin-right: 1rem;
        background-color: var(--footer-bg);
        text-align: center;
        
}

.footer-text {
        background-color: var(--footer-bg);
        color: var(--footer-text);
        font-size: 0.8rem;
}