.webpage-header {
        display: flex;
        position: relative;
        align-items: center;
        padding: 1rem;
        min-height: 60px;
        background-color: var(--header-bg);
}

.logo {
        height: 50px;
        margin-right: 1rem;
}

.webpage-header .header-text {
        flex: 1;
        text-align: center;
        color: var(--header-text);
        background-color: var(--nav-and-header-bg);
}

.toggle-mode {
        font-size: 30px;
        width: 50px;
        height: 50px;
        background: none;
        border: none;
        cursor: pointer;
        outline: none;
        transition: transform 0.3s;
        padding: 5px;
        margin-left: auto;
}

.toggle-mode:hover {
        transform: scale(1.1);
}