/* Root refers to top level element of html file (<html>) */
:root {
        /* Colors for light theme */
        --header-bg: #e0e0e0;
        --nav-and-header-bg: #e0e0e0;
        --header-text: #000000;
        --theme-toggle: #8c8888;
        --theme-toggle-border: #787878;
        --menu-toggle-btn: #8c8888;
        --menu-toggle-btn-border: #787878;
        --hamburger: #ffffff;
        --sidebar-h3: #707793;
        --menu-item-text: #000000;
        --menu-item-active: #8a5b03;
        --menu-item-active-bg: #d2d2d2;
        --page-content-bg: #eeeeee;
        --page-content-text-bg: #eeeeee;
        --page-content-text: #000000;
        --page-content-h1-bot-border: #464646;
        --footer-bg: #e0e0e0;
        --footer-line: #a5a5a5;
        --footer-text: #6b6b6b;
        --href: #1e90ff;
        --href-hover: #ff4500;
        --href-active: #2e8b57;

        /*  */
        --header-height: 50px;
        --footer-height: 50px;
}

/* This class is not acive by default. When this class is applied, it 
overrides the default variables */
.dark-theme {
        --header-bg: #3f3f3f;
        --nav-and-header-bg: #3f3f3f;
        --header-text: #e2e2e2;
        --theme-toggle: #8c8888;
        --theme-toggle-border: #787878;
        --menu-toggle-btn: #8c8888;
        --menu-toggle-btn-border: #787878;
        --hamburger: #ffffff;
        --sidebar-h3: #707793;
        --menu-item-text: #ffffff;
        --menu-item-active: #ffa600;
        --menu-item-active-bg: #272727;
        --page-content-bg: #1e1e1e;
        --page-content-text-bg: #1e1e1e;
        --page-content-text: #e0e0e0;
        --page-content-h1-bot-border: #464646;
        --footer-bg: #3f3f3f;
        --footer-line: #000000;
        --footer-text: #c2c2c2;
        --href: #1e90ff;
        --href-hover: #ff4500;
        --href-active: #2e8b57;
}

/* html {
        min-height: 100vh;
} */

* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Red Hat Text", sans-serif, "Fira Sans";
        background-color: var(--nav-and-header-bg);
        transition: 'all 0.3s ease';
}

.app {
        display: flex;
        min-height: 1rem;
}

/* Link style */
a {
        color: var(--href);
        text-decoration: none;
        font-weight: bold;
        transition: color 0.3s ease;
}

a:hover {
        color: var(--href-hover);
        text-decoration: underline;
}

a:active {
        color: var(--href-active);
}

/* mobile */
@media (max-width: 768px) {
        .page-content {
                padding: 1rem;
                margin: 0.5rem;
        }

        .sidebar {
                max-width: 100%;
                box-shadow: none;
        }

        .webpage-header {
                flex-direction: column;
                text-align: center;
                padding: 0.5rem;
        }

        .toggle-mode {
                width: 40px;
                height: 40px;
                font-size: 20px;
        }

        h1,
        h2,
        h3,
        h4,
        p {
                font-size: 90%;
        }

        .code-container {
                font-size: 0.85rem;
                padding: 0.5rem;
        }

        .button-group {
                top: 5px;
                right: 5px;
        }
}