.menu-toggle {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        display: none;
        width: 40px;
        height: 40px;
        border-radius: 99px;
        background-color: var(--menu-toggle-btn);
        cursor: pointer;
        z-index: 1000;
        border-style: solid;
        border-color: var(--menu-toggle-btn-border);
}

.hamburger {
        position: relative;
        top: calc(50% - 2px);
        left: 50%;
        transform: translate(-50%, -50%);
        width: 16px;
}

.hamburger>span,
.hamburger>span::before,
.hamburger>span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 3px;
        border-radius: 99px;
        background-color: var(--hamburger);
        transition-duration: .25s;
}

.hamburger>span::before {
        content: '';
        top: -8px;
}

.hamburger>span::after {
        content: '';
        top: 8px;
}

.menu-toggle.is-active .hamburger>span {
        transform: rotate(45deg);
}

.menu-toggle.is-active .hamburger>span::before {
        top: 0;
        transform: rotate(0deg);
}

.menu-toggle.is-active .hamburger>span::after {
        top: 0;
        transform: rotate(90deg);
}

.sidebar {
        flex: 1 1 0;
        padding: 0rem;
        background-color: var(--nav-and-header-bg);
        border-right-style: solid;
        border-right-width: 2px;
        border-right-color: var(--footer-line);
        border-top-style: solid;
        border-top-width: 2px;
        border-top-color: var(--footer-line);
        min-height: inherit;
        max-width: 200px;
}

.sidebar h3 {
        color: var(--sidebar-h3);
        font-size: 0.75rem;
        text-transform: uppercase;
        margin-bottom: 0.5em;
}

.sidebar .menu {
        padding-bottom: 0.5rem;
        padding-top: 0.5rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        margin-top: 1rem;
        margin-left: 1rem;
        margin-right: 1rem;
        margin-bottom: 1rem;
        min-height: inherit;
        border-radius: 1rem;
        background: var(--nav-and-header-bg);
}

.sidebar .menu .menu-item {
        display: block;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        padding-bottom: 0.8rem;
        padding-top: 0.8rem;
        border-radius: inherit;
        margin-bottom: 1rem;
        margin-top: 1rem;
        color: var(--menu-item-text);
        background-color: var(--nav-and-header-bg);
        text-decoration: none;
        transition: 0.2s linear;
        text-align: center;
        min-width: 100px;
}

.sidebar .menu .menu-item:hover,
.sidebar .menu .menu-item.is-active {
        color: var(--menu-item-active);
        background-color: var(--menu-item-active-bg);
}

.sidebar .menu .menu-item:hover {
        background-color: var(--menu-item-active-bg);
        border-style: none;
}

.content-wrapper {
        border-top-style: solid;
        border-top-width: 2px;
        border-top-color: var(--footer-line);
        background-color: var(--nav-and-header-bg);
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 0;
        padding: 0rem;
        min-height: 0;
        /* min-width: 740px; */
}

/* @media (max-width: 1024px) {
        .sidebar {
                max-width: 150px;
        }
} */

@media (max-width: 1000px) {
        .menu-toggle {
                display: block;
        }

        .sidebar {
                top: 0;
                position: fixed;
                left: -170px;
                height: 100vh;
                width: 100%;
                max-width: 150px;
                transition: 0.2s linear;
                box-shadow: 5px 0px 20px #8a5b03;
        }

        .sidebar.is-active {
                left: 0;
        }
}